<!-- LEFT BAR -->
<div class="uk-width-1-6">
<div id="left-col" class="uk-light">
  <div class="left-logo uk-flex uk-flex-middle">    
  </div>
  <div class="left-content-box  content-box-dark">
    <!-- Admin Name -->
    <h4 class="uk-text-center uk-margin-remove-vertical text-light"></h4>

    <div class="uk-position-relative uk-text-center uk-display-block">
        <!-- Admin Id -->
        <span class="uk-text-small uk-text-muted uk-display-block uk-text-center">Admin</span>
    </div>
  </div>
  <div class="left-nav-wrap">
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
      <li class="uk-nav-header">ACTIONS</li>
      <!-- Transaction -->
      <li class="uk-parent"><a href="/Rental"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Rental</a></li>
      <li class="uk-parent"><a href="/Resale"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>Resale</a></li>
    </ul>
  </div>
</div>
</div>
<!-- /LEFT BAR -->

