<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<!--<body>-->
<body>
<div>
    <main class="container">
        <h1>Member Login</h1>
         <form action="" method="post">
             <div class = "form-group">
                 <label>UserId:</label><br>
                 <input class = "form-control" type="text" name="user_id" placeholder="Enter User Id"><br><br>
             </div>
             <div class = "form-group">
                 <label>Password:</label><br>
                 <input class = "form-control" type="password" name="password" placeholder="Enter password"><br><br>
             </div>
             <div class = "form-group">
                 <button class="btn btn-primary" type="submit">Submit</button>
             </div>
<!--             <label>UserId</label><br>-->
<!--             <input name="user_id" type="number" placeholder="Enter User Id"><br><br>-->
<!--             <label>Password</label><br>-->
<!--             <input name="password" type="password" placeholder="Enter Password"><br><br>-->
<!--             <input type="submit" value="LOGIN"><br><br>-->
         </form>
        <p>
            New here? Please go to
            <a href="Register.html">Sign Up</a> as a member.
        </p>
    </main>

</div>

</body>
</html>

