<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<!--<body>-->
<body>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
<div>
    <main class="container">
        <h1>Member Registration</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "RegisterError" %}
                        <p style="color: red" class="{{ category }}">{{ message }}</p>
                    {% endif %}
                    {% if category == "RegisterSuccess" %}
                        <p style="color: green" class="{{ category }}">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
         <form action="/registerNewUser" method="post" onsubmit="return formValid">
             <div class = "form-group">
                 <label>Name:</label><br>
                 <input class = "form-control" id="name" required oninput="validate('name')" type="text" name="name" placeholder="Enter Your Name">
                 <div id = "nameError" style="display: none"></div>
             </div>
             <br>
             <div class = "form-group">
                 <label>Username:</label><br>
                 <input class = "form-control" id="username" required oninput="validate('username')" type="text" name="username" placeholder="Enter Your Username">
                 <div id = "usernameError" style="display: none"></div>
             </div>
             <br>
             <div class = "form-group">
                 <label>Password:</label><br>
                 <input class = "form-control" id="password" required oninput="validate('password')" type="password" name="password" placeholder="Enter password">
                 <div id = "passwordError" style="display: none"></div>
             </div>
             <br>
             <div class = "form-group">
                 <button class="btn btn-primary" type="submit">Submit</button>
             </div>
         </form>
        <p>
            Already a member? Please go to
            <a href="/">Login</a>.
        </p>
    </main>

</div>

<script>
    var formValid;

    function validate(input) {
        if (input == 'name') {
            if (document.getElementById("name").value == "") {
                document.getElementById("nameError").style = "display: block; color: red";
                document.getElementById("nameError").innerHTML = "Name cannot be empty!";
                formValid = false;
            }
            else {
                document.getElementById("nameError").style = "display: none";
                formValid = true;
            }
        }

        if (input == 'username') {
            if (document.getElementById("username").value == "") {
                document.getElementById("usernameError").style = "display: block; color: red";
                document.getElementById("usernameError").innerHTML = "Username cannot be empty!";
                formValid = false;
            }
            else {
                document.getElementById("usernameError").style = "display: none";
                formValid = true;
            }
        }

        if (input == 'password') {
            if (document.getElementById("password").value == "") {
                document.getElementById("passwordError").style = "display: block; color: red";
                document.getElementById("passwordError").innerHTML = "Password cannot be empty!";
                formValid = false;
            }
            else {
                document.getElementById("passwordError").style = "display: none";
                formValid = true;
            }
        }
    }
</script>


</body>
</html>

