<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<!--<body>-->
<body>
<div>
    <main class="container">
        <h1>Member Registration</h1>
         <form action="" method="post">
             <div class = "form-group">
                 <label>Name:</label><br>
                 <input class = "form-control" type="text" name="name" placeholder="Enter Your Name"><br><br>
             </div>
             <div class = "form-group">
                 <label>Username:</label><br>
                 <input class = "form-control" type="text" name="username" placeholder="Enter Your Username"><br><br>
             </div>
             <div class = "form-group">
                 <label>Password:</label><br>
                 <input class = "form-control" type="password" name="password" placeholder="Enter password"><br><br>
             </div>
             <div class = "form-group">
                 <button class="btn btn-primary" type="submit">Submit</button>
             </div>
         </form>
        <p>
            Already a member? Please go to
            <a href="/">Login</a>.
        </p>
    </main>

</div>
</body>
</html>

