{% extends 'base.html' %}
{% block title %} Rental Flat Table {% endblock %}
{% block head %}
<script>
function filter1() {
  var bedroomNo = document.getElementById("bedroomNoValue").value
  var monthlyGrossRent = document.getElementById("MonthlyGrossRentValue").value

   $.ajax({
                url: "/updateRentalTable",
                type: "POST",
                dataType: 'text',
                data:{
                        "bedroomNo" : bedroomNo,
                        "monthlyGrossRent":monthlyGrossRent,

                        } ,
                success: function(){
                        update()
                },
                error: function (xhr,thrownError) {
                    alert(thrownError)
                    alert('error');
                }
            })
            return false;
}

function update(){
    $("#RentalData").load(location.href + " #RentalData");
}

function updateSlider1(val){
    document.getElementById("MonthlyGrossRentValue").innerHTML = val;
}

function updateSlider2(val){
    document.getElementById("FloorAreaValue").innerHTML = val;
}

</script>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    }
    li {
    float: left;
    }
    li a:hover {
    background-color: #111;
    }
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

</style>
{% endblock %}
{% block content %}
<ul>
    {% for item in nav.bottom %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
<div class="uk-width-5-6 uk-margin-auto">

  <div class="uk-container uk-container-expand">
    <h1 class="uk-margin uk-margin-auto uk-text-center">Rental Data</h1>
  </div>

<br>
  <!-- Body -->
   <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    </div>

    <div>
         <div class="slidecontainer">
          <p>Rental Price Range</p>
          <input type="range" name="amountRange" min="2000" max="20000" value="5000" oninput="updateSlider1(this.value)",  />
          <output id="MonthlyGrossRentValue">5000</output>
    </div>
    </div>

       <div>
        <div class="uk-form-select" data-uk-form-select>
        <span>Select No. of Rooms</span>
            <br>
        <select id="bedroomNoValue">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    </div>
       <div>
           <br>
        <button class="uk-button uk-button-primary" onclick="filter1()">Filter</button>
    </div>
</div>


    <br>
    <div id="RentalData">
          <table class="uk-table uk-table-small uk-table-divider uk-table-striped" >
            <thead>
                <tr>
                    <th>Floor Area</th>
                    <th>No. of Rooms</th>
                    <th>Monthly Rent</th>
                    <th>Postal District</th>
                    <th>Lease Commencement Year</th>
                    <th>Lease Commencement Month</th>
                </tr>
            </thead>
            <tbody class="uk-height-large" id='tableContent'>
              {% for rental_flat in rental_dict %}
              <tr>
                <td>{{rental_dict[rental_flat]["floor_area"]}}</td>
                  <td>{{rental_dict[rental_flat]["no_of_rooms"]}}</td>
                  <td>{{rental_dict[rental_flat]["monthly_gross_rent"]}}</td>
                  <td>{{rental_dict[rental_flat]["postal_district"]}}</td>
                   <td>{{rental_dict[rental_flat]["lease_commencement_year"]}}</td>
                  <td>{{rental_dict[rental_flat]["lease_commencement_month"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
      </div>


</div>
{% endblock %}
