<!doctype html>
<html>
<style>

    .links{
        background: white;
        color:black;
        padding-top: 80px;
    }
    body{
        background: white;
    }
</style>
<head style="font-family:arial, sans-serif">
    <h1 style="background-color:navajowhite; padding:10px;color: black; position:absolute; margin:auto">
        Resale Graphs & Tables
    </h1>
</head>

<body >

<div class=" links">
    <p>Click to see charts on different resale Graphs</p>
    <Label>
        Links:
    </Label><br>
    <Label>1.</Label>
    <a href="AveragePriceResale">Average resale price in each town (Graph)</a>
    <br>
    <label>2.</label>
    <a href="TotalResale">Total number of resale in each town (Graph)</a>
    <br>
    <lab>3.</lab>
    <a href="ResaleTable">Resale Table</a>
</div>

</body>
</html>