<!doctype html>
<html>
<style>
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    background-color: floralwhite;
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0;
    padding: 2em 1em;
  }
  a{
      color:black;
  }
  #des {
      text-align: center;
  }
</style>
<body>
<h1>{{header}}</h1>
<h6><a href="/ResaleGraph">Return to Resale Graphs Page</a></h6>
<div id="chart" class="chart"></div> <br>
<div id = "des">{{description}}</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</body>

</html>